html {
  height: 100%;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 35px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

table .highlight {
  background: #daf5f0;
}

thead {
  background-color: #729f98;
}

table, th, td {
  border: 2px solid #283018;
}

tr {
  height: 50px;
}
tr:hover:not(.no-highlight) {
  background: #ddf0e8;
}

th {
  cursor: pointer;
}

h1 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  letter-spacing: 3px;
  margin: 0;
  padding: 30px;
  text-shadow: 0.05em 0.05em 0.05em #ddd6d4;
}
h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 15px;
}


legend {
  background-color: rgba(114, 159, 152, 0.6);
  width: 50%;
  border: 1px solid #283018;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  text-transform: full-width;
  font-size: 30px;
}

form {
  margin: 50px auto;
  width: 500px;
  top: 50px;
  background-color: rgba(214, 217, 233, 0.6);
  padding: 35px;
  border-radius: 10px;
  font-size: 30px;
}

.afterTable {
  background: url("background.jpeg");
  background-size: cover;
  padding: 50px;
}

fieldset {
  border: 1px solid #283018;
  border-radius: 6px;
  padding: 25px;
}

input[type=text], input[type=email], textarea {
  line-height: 25px;
  width: 100%;
}

.smallButton {
  height: 30px;
  background-color: #729f98;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #283018;
}

.icon {
  width: 20px;
  color: #ffffff;
}
.remove-button {
  font-size: 30px;
  color: darkred;
  border: none;
  background: transparent;
  cursor: pointer;
}

.bigButton {
  width: 100%;
  background-color: #729f98;
  color: white;
  padding: 14px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 30px;
  letter-spacing: 3px;
  border: 1px solid #283018;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

button:hover {
  background-color: #283018;
}

.validation-alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  margin: 20px;
}

.radio-label {
  display: block;
  position: relative;
  padding-left: 100px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #afafaf;
  border-radius: 50%;
  margin-left: 60px;
}

.radio-label:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-label input:checked ~ .checkmark {
  background-color: #729f98;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-label input:checked ~ .checkmark:after {
  display: block;
}

.radio-label .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.checkbox {
  position: absolute;
  top: 0px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #afafaf;
  margin-left: 60px;
}
.radio-label:hover input ~ .checkbox {
  background-color: #ccc;
}

.radio-label input:checked ~ .checkbox {
  background-color: #661815;

}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-label input:checked ~ .checkbox:after {
  display: block;
}

.radio-label .checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.id {
  display: none;
}